<tr>
  <th scope="row"><%= challenge.id %></th>
  <td><%= challenge.title %></td>
  <td class="text-break"><%= challenge.description %></td>
  <td><%= challenge.votes.count %></td>
  <td><%= link_to challenge.employee.first_name, employee_path(challenge.employee) %></td>
  <td><%= challenge.created_at.to_date.inspect %></td>
  <td><%= challenge.tag.name %></td>
  <td class="text-break"><%= challenge.employees.map { |employee| link_to employee.first_name, employee_path(employee) }.join(', ').html_safe %></td>
  <td class="d-flex justify-content-around">
    <%= button_to 'upvote', upvote_challenge_path(challenge), class: 'btn btn-primary' %>
    <%= button_to 'collaborate', collaborate_challenge_path(challenge), class: 'btn btn-secondary' %>
  </td>
</tr>
