<nav class="navbar navbar-dark bg-primary">
  <%= link_to 'Hackathon', root_path, class: 'navbar-brand' %>
  <% if employee_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_employee.first_name + ' ' + current_employee.last_name%>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to 'My Challenges', challenges_employee_path(current_employee), class: 'dropdown-item' %>
        <%= link_to 'My Collaborations', collaborations_employee_path(current_employee), class: 'dropdown-item' %>
        <%= link_to 'My Profile', employee_path(current_employee), class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to "Logout '#{current_employee.first_name}'", destroy_employee_session_path, class: 'dropdown-item text-danger font-weight-bold', method: :delete %>
      </div>
    </div>
  <% end %>
</nav>
